.mediaViewInfo {
    --web-view-name: Web 1920 – 3;
    --web-view-id: Web_1920__3;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Web_1920__3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#Web_1920__3 {
    position: absolute;
    width: 1920px;
    height: 2589px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    --web-view-name: Web 1920 – 3;
    --web-view-id: Web_1920__3;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#n_2483 {
    fill: rgba(250, 250, 250, 1);
}

.n_2483 {
    overflow: visible;
    position: absolute;
    width: 1920px;
    height: 1792.5px;
    left: 0px;
    top: 586px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_223 {
    position: absolute;
    width: 1940px;
    height: 1170.072px;
    left: -20px;
    top: 1208.428px;
    overflow: visible;
}

#n_2541 {
    fill: rgba(242, 197, 77, 1);
}

.n_2541 {
    overflow: visible;
    position: absolute;
    width: 1920px;
    height: 400.191px;
    left: 0px;
    top: 769.881px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_2542 {
    fill: rgba(92, 104, 118, 1);
}

.n_2542 {
    overflow: visible;
    position: absolute;
    width: 190.775px;
    height: 1170.072px;
    left: 1749.225px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_426 {
    position: absolute;
    width: 1967px;
    height: 706px;
    left: 0px;
    top: -119px;
    overflow: visible;
}

#n_281 {
    fill: rgba(255, 255, 255, 1);
}

.n_281 {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 1950px;
    height: 102px;
    left: 0px;
    top: 515px;
}

#n_284 {
    opacity: 0.428;
    fill: rgba(0, 82, 94, 1);
}

.n_284 {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 1950px;
    height: 134px;
    left: 0px;
    top: 0px;
}

#n____ {
    left: 269px;
    top: 545px;
    position: absolute;
    overflow: visible;
    width: fit-content;
    height: 20px;
    text-align: left;
    font-family: GenYoGothic-R;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(167, 165, 165, 1);
}

#Group_251 {
    position: absolute;
    width: 443.177px;
    height: 151.606px;
    left: 1060.823px;
    top: 58.1px;
    overflow: visible;
}

#Text {
    left: 841.5px;
    top: 659.736px;
    position: absolute;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic-R;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(50, 50, 50, 1);
}

#Text_chm a {
    outline: none;
    text-decoration: none;
    left: 375.177px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

#Text_chm:hover a {
    outline: none;
    text-decoration: none;
    color: rgba(246, 201, 77, 1);
}

#Text_chn a {
    outline: none;
    text-decoration: none;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

#Text_chn:hover a {
    outline: none;
    text-decoration: none;
    color: rgba(246, 201, 77, 1);
}

#Text_cho a {
    outline: none;
    text-decoration: none;
    left: 271.74px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

#Text_cho:hover a {
    outline: none;
    text-decoration: none;
    color: rgba(246, 201, 77, 1);
}

#Text_chp a {
    outline: none;
    text-decoration: none;
    left: 168.304px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

#Text_chp:hover a {
    outline: none;
    text-decoration: none;
    color: rgba(246, 201, 77, 1);
}

#Text_chq a {
    outline: none;
    text-decoration: none;
    left: 65.744px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
    cursor: pointer;
}

#Text_chq:hover a {
    outline: none;
    text-decoration: none;
    color: rgba(246, 201, 77, 1);
}

.Path_2535 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 205.057px;
    height: 136.684px;
    left: 29.594px;
    top: 32.921px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_2535 {
    opacity: 0.609;
    fill: rgba(255, 255, 255, 1);
}

#n__chs {
    left: 77.304px;
    top: 77.263px;
    position: absolute;
    overflow: visible;
    width: 85px;
    height: 17px;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

#n__cht {
    left: 77.304px;
    top: 104.437px;
    position: absolute;
    overflow: visible;
    width: 85px;
    height: 17px;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

#n__chs a {
    font-size: 15px;
    outline: none;
    text-decoration: none;
    color: rgba(95, 106, 119, 1);
}

#n__cht a {
    font-size: 15px;
    outline: none;
    text-decoration: none;
    color: rgba(95, 106, 119, 1);
}

#EN {
    left: 1660px;
    top: 57.1px;
    position: absolute;
    overflow: visible;
    width: 20px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(248, 248, 248, 1);
}

#Text_z {
    left: 1695px;
    top: 57.1px;
    position: absolute;
    overflow: visible;
    width: 31px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(248, 248, 248, 1);
}

#Text_cfa {
    left: 1740px;
    top: 57.1px;
    position: absolute;
    overflow: visible;
    width: 31px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(248, 248, 248, 1);
}

#n_169 {
    position: absolute;
    width: 163.608px;
    height: 53.16px;
    left: 319px;
    top: 33.02px;
    overflow: visible;
}

#n_92 {
    position: absolute;
    width: 56.896px;
    height: 53.16px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_88 {
    position: absolute;
    width: 42.107px;
    height: 49.981px;
    left: 0px;
    top: 2.174px;
    overflow: visible;
}

#n_85 {
    position: absolute;
    width: 42.107px;
    height: 49.981px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_84 {
    position: absolute;
    width: 42.107px;
    height: 49.981px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_121 {
    fill: rgba(135, 176, 174, 1);
}

.n_121 {
    overflow: visible;
    position: absolute;
    width: 42.107px;
    height: 49.981px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_87 {
    position: absolute;
    width: 29.812px;
    height: 19.19px;
    left: 0px;
    top: 30.791px;
    overflow: visible;
}

#n_86 {
    position: absolute;
    width: 29.812px;
    height: 19.19px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_122 {
    fill: rgba(252, 189, 55, 1);
}

.n_122 {
    overflow: visible;
    position: absolute;
    width: 29.812px;
    height: 19.19px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_91 {
    position: absolute;
    width: 17.634px;
    height: 53.16px;
    left: 39.262px;
    top: 0px;
    overflow: visible;
}

#n_90 {
    position: absolute;
    width: 17.634px;
    height: 53.16px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_89 {
    position: absolute;
    width: 17.634px;
    height: 53.16px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_123 {
    fill: rgba(255, 255, 255, 1);
}

.n_123 {
    overflow: visible;
    position: absolute;
    width: 17.634px;
    height: 53.16px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_131 {
    position: absolute;
    width: 104.612px;
    height: 31.678px;
    left: 58.996px;
    top: 16.52px;
    overflow: visible;
}

#n_114 {
    position: absolute;
    width: 98.217px;
    height: 7.409px;
    left: 3.887px;
    top: 24.268px;
    overflow: visible;
}

#n_93 {
    position: absolute;
    width: 1.053px;
    height: 5.878px;
    left: 0px;
    top: 0.383px;
    overflow: visible;
}

#n_124 {
    fill: rgba(255, 255, 255, 1);
}

.n_124 {
    overflow: visible;
    position: absolute;
    width: 1.053px;
    height: 5.878px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_94 {
    position: absolute;
    width: 3.509px;
    height: 4.012px;
    left: 3.173px;
    top: 2.249px;
    overflow: visible;
}

#n_125 {
    fill: rgba(255, 255, 255, 1);
}

.n_125 {
    overflow: visible;
    position: absolute;
    width: 3.509px;
    height: 4.012px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_95 {
    position: absolute;
    width: 2.727px;
    height: 5.319px;
    left: 8.327px;
    top: 1.037px;
    overflow: visible;
}

#n_126 {
    fill: rgba(255, 255, 255, 1);
}

.n_126 {
    overflow: visible;
    position: absolute;
    width: 2.727px;
    height: 5.319px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_96 {
    position: absolute;
    width: 3.414px;
    height: 4.188px;
    left: 12.425px;
    top: 2.209px;
    overflow: visible;
}

#n_127 {
    fill: rgba(255, 255, 255, 1);
}

.n_127 {
    overflow: visible;
    position: absolute;
    width: 3.414px;
    height: 4.188px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_97 {
    position: absolute;
    width: 2.344px;
    height: 3.972px;
    left: 17.458px;
    top: 2.289px;
    overflow: visible;
}

#n_128 {
    fill: rgba(255, 255, 255, 1);
}

.n_128 {
    overflow: visible;
    position: absolute;
    width: 2.344px;
    height: 3.973px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_98 {
    position: absolute;
    width: 3.509px;
    height: 4.012px;
    left: 21.82px;
    top: 2.249px;
    overflow: visible;
}

#n_129 {
    fill: rgba(255, 255, 255, 1);
}

.n_129 {
    overflow: visible;
    position: absolute;
    width: 3.509px;
    height: 4.012px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_99 {
    position: absolute;
    width: 3.214px;
    height: 4.122px;
    left: 26.948px;
    top: 2.242px;
    overflow: visible;
}

#n_130 {
    fill: rgba(255, 255, 255, 1);
}

.n_130 {
    overflow: visible;
    position: absolute;
    width: 3.214px;
    height: 4.122px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_100 {
    position: absolute;
    width: 2.729px;
    height: 5.319px;
    left: 32.116px;
    top: 1.037px;
    overflow: visible;
}

#n_131_bv {
    fill: rgba(255, 255, 255, 1);
}

.n_131_bv {
    overflow: visible;
    position: absolute;
    width: 2.729px;
    height: 5.319px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_101 {
    position: absolute;
    width: 1.053px;
    height: 5.878px;
    left: 37.085px;
    top: 0.383px;
    overflow: visible;
}

#n_132 {
    fill: rgba(255, 255, 255, 1);
}

.n_132 {
    overflow: visible;
    position: absolute;
    width: 1.053px;
    height: 5.878px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_102 {
    position: absolute;
    width: 4.028px;
    height: 4.179px;
    left: 39.646px;
    top: 2.218px;
    overflow: visible;
}

#n_133 {
    fill: rgba(255, 255, 255, 1);
}

.n_133 {
    overflow: visible;
    position: absolute;
    width: 4.028px;
    height: 4.179px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_103 {
    position: absolute;
    width: 3.509px;
    height: 4.012px;
    left: 45.268px;
    top: 2.249px;
    overflow: visible;
}

#n_134 {
    fill: rgba(255, 255, 255, 1);
}

.n_134 {
    overflow: visible;
    position: absolute;
    width: 3.509px;
    height: 4.012px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_104 {
    position: absolute;
    width: 3.214px;
    height: 4.122px;
    left: 50.236px;
    top: 2.242px;
    overflow: visible;
}

#n_135 {
    fill: rgba(255, 255, 255, 1);
}

.n_135 {
    overflow: visible;
    position: absolute;
    width: 3.214px;
    height: 4.122px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_105 {
    position: absolute;
    width: 0.876px;
    height: 6.222px;
    left: 55.278px;
    top: 0.039px;
    overflow: visible;
}

#n_136 {
    fill: rgba(255, 255, 255, 1);
}

.n_136 {
    overflow: visible;
    position: absolute;
    width: 0.876px;
    height: 6.222px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_106 {
    position: absolute;
    width: 5.12px;
    height: 6.364px;
    left: 61.761px;
    top: 0px;
    overflow: visible;
}

#n_137 {
    fill: rgba(255, 255, 255, 1);
}

.n_137 {
    overflow: visible;
    position: absolute;
    width: 5.12px;
    height: 6.364px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_107 {
    position: absolute;
    width: 4.028px;
    height: 4.179px;
    left: 68.229px;
    top: 2.218px;
    overflow: visible;
}

#n_138 {
    fill: rgba(255, 255, 255, 1);
}

.n_138 {
    overflow: visible;
    position: absolute;
    width: 4.028px;
    height: 4.179px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_108 {
    position: absolute;
    width: 1.053px;
    height: 1.051px;
    left: 73.54px;
    top: 5.32px;
    overflow: visible;
}

#n_139 {
    fill: rgba(255, 255, 255, 1);
}

.n_139 {
    overflow: visible;
    position: absolute;
    width: 1.053px;
    height: 1.051px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_109 {
    position: absolute;
    width: 1.125px;
    height: 2.161px;
    left: 76.108px;
    top: 5.248px;
    overflow: visible;
}

#n_140 {
    fill: rgba(255, 255, 255, 1);
}

.n_140 {
    overflow: visible;
    position: absolute;
    width: 1.125px;
    height: 2.161px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_110 {
    position: absolute;
    width: 3.924px;
    height: 6.157px;
    left: 83.039px;
    top: 0.104px;
    overflow: visible;
}

#n_141 {
    fill: rgba(255, 255, 255, 1);
}

.n_141 {
    overflow: visible;
    position: absolute;
    width: 3.924px;
    height: 6.157px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_111 {
    position: absolute;
    width: 2.727px;
    height: 5.319px;
    left: 87.841px;
    top: 1.037px;
    overflow: visible;
}

#n_142 {
    fill: rgba(255, 255, 255, 1);
}

.n_142 {
    overflow: visible;
    position: absolute;
    width: 2.727px;
    height: 5.319px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_112 {
    position: absolute;
    width: 3.843px;
    height: 6.358px;
    left: 91.582px;
    top: 0.039px;
    overflow: visible;
}

#n_143 {
    fill: rgba(255, 255, 255, 1);
}

.n_143 {
    overflow: visible;
    position: absolute;
    width: 3.843px;
    height: 6.358px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_113 {
    position: absolute;
    width: 1.053px;
    height: 1.051px;
    left: 97.164px;
    top: 5.32px;
    overflow: visible;
}

#n_144 {
    fill: rgba(255, 255, 255, 1);
}

.n_144 {
    overflow: visible;
    position: absolute;
    width: 1.053px;
    height: 1.051px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_130_cm {
    position: absolute;
    width: 104.612px;
    height: 18.802px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_127_cn {
    position: absolute;
    width: 104.612px;
    height: 18.802px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_116 {
    position: absolute;
    width: 15.477px;
    height: 18.685px;
    left: 0px;
    top: 0.047px;
    overflow: visible;
}

#n_115 {
    position: absolute;
    width: 15.477px;
    height: 18.685px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_145 {
    fill: rgba(255, 255, 255, 1);
}

.n_145 {
    overflow: visible;
    position: absolute;
    width: 15.477px;
    height: 18.685px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_118 {
    position: absolute;
    width: 13.557px;
    height: 18.075px;
    left: 19.106px;
    top: 0.352px;
    overflow: visible;
}

#n_117 {
    position: absolute;
    width: 13.557px;
    height: 18.075px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_146 {
    fill: rgba(255, 255, 255, 1);
}

.n_146 {
    overflow: visible;
    position: absolute;
    width: 13.557px;
    height: 18.075px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_120 {
    position: absolute;
    width: 15.031px;
    height: 18.685px;
    left: 51.464px;
    top: 0.047px;
    overflow: visible;
}

#n_119 {
    position: absolute;
    width: 15.031px;
    height: 18.685px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_147 {
    fill: rgba(255, 255, 255, 1);
}

.n_147 {
    overflow: visible;
    position: absolute;
    width: 15.031px;
    height: 18.685px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_122_cx {
    position: absolute;
    width: 10.138px;
    height: 18.075px;
    left: 68.978px;
    top: 0.352px;
    overflow: visible;
}

#n_121_cy {
    position: absolute;
    width: 10.138px;
    height: 18.075px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_148 {
    fill: rgba(255, 255, 255, 1);
}

.n_148 {
    overflow: visible;
    position: absolute;
    width: 10.138px;
    height: 18.075px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_124_c {
    position: absolute;
    width: 10.606px;
    height: 18.802px;
    left: 81.34px;
    top: 0px;
    overflow: visible;
}

#n_123_c {
    position: absolute;
    width: 10.606px;
    height: 18.802px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_149 {
    fill: rgba(255, 255, 255, 1);
}

.n_149 {
    overflow: visible;
    position: absolute;
    width: 10.606px;
    height: 18.802px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_126_c {
    position: absolute;
    width: 10.606px;
    height: 18.802px;
    left: 94.006px;
    top: 0px;
    overflow: visible;
}

#n_125_c {
    position: absolute;
    width: 10.606px;
    height: 18.802px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_150 {
    fill: rgba(255, 255, 255, 1);
}

.n_150 {
    overflow: visible;
    position: absolute;
    width: 10.606px;
    height: 18.802px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_129_c {
    position: absolute;
    width: 17.912px;
    height: 18.31px;
    left: 33.552px;
    top: 0.117px;
    overflow: visible;
}

#n_128_c {
    position: absolute;
    width: 17.912px;
    height: 18.31px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_151 {
    fill: rgba(255, 255, 255, 1);
}

.n_151 {
    overflow: visible;
    position: absolute;
    width: 17.912px;
    height: 18.31px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_285 {
    opacity: 0.861;
    fill: rgba(248, 248, 248, 1);
}

.n_285 {
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
    width: 92.362px;
    height: 153.551px;
    position: absolute;
    overflow: visible;
    transform: matrix(1, 0, 0, 1, 1240.744, 73.4056) rotate(90deg);
    transform-origin: center;
}

#Text_db {
    left: 1265.127px;
    top: 118.983px;
    position: absolute;
    overflow: visible;
    width: 85px;
    height: 20px;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(167, 165, 165, 1);
}

#n_386 {
    fill: rgba(167, 165, 165, 1);
}

.n_386 {
    position: absolute;
    overflow: visible;
    width: 4.383px;
    height: 4.383px;
    left: 1240.744px;
    top: 125.995px;
}

#n_387 {
    fill: rgba(167, 165, 165, 1);
}

.n_387 {
    position: absolute;
    overflow: visible;
    width: 4.383px;
    height: 3.506px;
    left: 1240.744px;
    top: 153.169px;
}

#Text_de {
    left: 1018.5px;
    top: 659.736px;
    position: absolute;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic-R;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(167, 165, 165, 1);
}

#n_39 {
    opacity: 0.386;
    fill: transparent;
    stroke: rgba(5, 5, 5, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_39 {
    overflow: visible;
    position: absolute;
    width: 1920.5px;
    height: 1px;
    left: 0px;
    top: 2497.311px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Gracess_international_Co_Ltd__ {
    left: 776px;
    top: 2529px;
    position: absolute;
    overflow: visible;
    width: 362px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(95, 106, 119, 1);
}

#n_215 {
    position: absolute;
    width: 229.011px;
    height: 75.379px;
    left: 848px;
    top: 2407.239px;
    overflow: visible;
}

#n_202 {
    position: absolute;
    width: 80.675px;
    height: 75.379px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_199 {
    position: absolute;
    width: 59.705px;
    height: 70.87px;
    left: 0px;
    top: 3.083px;
    overflow: visible;
}

#n_197 {
    position: absolute;
    width: 59.705px;
    height: 70.87px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_2506 {
    fill: rgba(135, 176, 174, 1);
}

.n_2506 {
    overflow: visible;
    position: absolute;
    width: 59.705px;
    height: 70.87px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_198 {
    position: absolute;
    width: 42.272px;
    height: 27.21px;
    left: 0px;
    top: 43.659px;
    overflow: visible;
}

#n_2507 {
    fill: rgba(252, 189, 55, 1);
}

.n_2507 {
    overflow: visible;
    position: absolute;
    width: 42.272px;
    height: 27.21px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_201 {
    position: absolute;
    width: 25.004px;
    height: 75.379px;
    left: 55.672px;
    top: 0px;
    overflow: visible;
}

#n_200 {
    position: absolute;
    width: 25.004px;
    height: 75.379px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_2508 {
    fill: rgba(75, 87, 100, 1);
}

.n_2508 {
    overflow: visible;
    position: absolute;
    width: 25.004px;
    height: 75.379px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_212 {
    position: absolute;
    width: 148.336px;
    height: 26.66px;
    left: 80.675px;
    top: 31.063px;
    overflow: visible;
}

#n_211 {
    position: absolute;
    width: 148.336px;
    height: 26.66px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_209 {
    position: absolute;
    width: 148.336px;
    height: 26.66px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_203 {
    position: absolute;
    width: 21.946px;
    height: 26.493px;
    left: 0px;
    top: 0.067px;
    overflow: visible;
}

#n_2509 {
    fill: rgba(59, 70, 78, 1);
}

.n_2509 {
    overflow: visible;
    position: absolute;
    width: 21.946px;
    height: 26.493px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_204 {
    position: absolute;
    width: 19.222px;
    height: 25.63px;
    left: 27.092px;
    top: 0.498px;
    overflow: visible;
}

#n_2510 {
    fill: rgba(59, 70, 78, 1);
}

.n_2510 {
    overflow: visible;
    position: absolute;
    width: 19.222px;
    height: 25.63px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_205 {
    position: absolute;
    width: 21.315px;
    height: 26.493px;
    left: 72.973px;
    top: 0.067px;
    overflow: visible;
}

#n_2511 {
    fill: rgba(59, 70, 78, 1);
}

.n_2511 {
    overflow: visible;
    position: absolute;
    width: 21.315px;
    height: 26.493px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_206 {
    position: absolute;
    width: 14.375px;
    height: 25.63px;
    left: 97.807px;
    top: 0.498px;
    overflow: visible;
}

#n_2512 {
    fill: rgba(59, 70, 78, 1);
}

.n_2512 {
    overflow: visible;
    position: absolute;
    width: 14.375px;
    height: 25.63px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_207 {
    position: absolute;
    width: 15.039px;
    height: 26.66px;
    left: 115.336px;
    top: 0px;
    overflow: visible;
}

#n_2513 {
    fill: rgba(59, 70, 78, 1);
}

.n_2513 {
    overflow: visible;
    position: absolute;
    width: 15.039px;
    height: 26.66px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_208 {
    position: absolute;
    width: 15.04px;
    height: 26.66px;
    left: 133.296px;
    top: 0px;
    overflow: visible;
}

#n_2514 {
    fill: rgba(59, 70, 78, 1);
}

.n_2514 {
    overflow: visible;
    position: absolute;
    width: 15.04px;
    height: 26.66px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_210 {
    position: absolute;
    width: 25.398px;
    height: 25.962px;
    left: 47.575px;
    top: 0.166px;
    overflow: visible;
}

#n_2515 {
    fill: rgba(59, 70, 78, 1);
}

.n_2515 {
    overflow: visible;
    position: absolute;
    width: 25.398px;
    height: 25.962px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Text_d {
    left: 1265.127px;
    top: 146.157px;
    position: absolute;
    overflow: visible;
    width: 85px;
    height: 20px;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(167, 165, 165, 1);
}

#Text_ea {
    left: 410px;
    top: 1037px;
    position: absolute;
    overflow: visible;
    width: 476px;
    white-space: nowrap;
    line-height: 108px;
    margin-top: -6.5px;
    text-align: left;
    font-family: GenYoGothic-M;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    color: rgba(50, 50, 50, 1);
}

#Text_eb {
    left: 410px;
    top: 1155px;
    position: absolute;
    overflow: visible;
    width: 476px;
    white-space: nowrap;
    line-height: 108px;
    margin-top: -6.5px;
    text-align: left;
    font-family: GenYoGothic-M;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    color: rgba(50, 50, 50, 1);
}

#n_221 {
    position: absolute;
    width: 222.023px;
    height: 39.903px;
    left: 414px;
    top: 928.053px;
    overflow: visible;
}

#n_130_ec {
    position: absolute;
    width: 222.023px;
    height: 39.903px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_127_ed {
    position: absolute;
    width: 222.023px;
    height: 39.903px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_116_ee {
    position: absolute;
    width: 32.848px;
    height: 39.656px;
    left: 0px;
    top: 0.1px;
    overflow: visible;
}

#n_115_ef {
    position: absolute;
    width: 32.848px;
    height: 39.656px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_145_eg {
    fill: rgba(50, 50, 50, 1);
}

.n_145_eg {
    overflow: visible;
    position: absolute;
    width: 32.848px;
    height: 39.656px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_118_eh {
    position: absolute;
    width: 28.772px;
    height: 38.361px;
    left: 40.549px;
    top: 0.746px;
    overflow: visible;
}

#n_117_ei {
    position: absolute;
    width: 28.772px;
    height: 38.361px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_146_ej {
    fill: rgba(50, 50, 50, 1);
}

.n_146_ej {
    overflow: visible;
    position: absolute;
    width: 28.772px;
    height: 38.361px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_120_ek {
    position: absolute;
    width: 31.901px;
    height: 39.656px;
    left: 109.225px;
    top: 0.1px;
    overflow: visible;
}

#n_119_el {
    position: absolute;
    width: 31.901px;
    height: 39.656px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_147_em {
    fill: rgba(50, 50, 50, 1);
}

.n_147_em {
    overflow: visible;
    position: absolute;
    width: 31.901px;
    height: 39.656px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_122_en {
    position: absolute;
    width: 21.516px;
    height: 38.361px;
    left: 146.395px;
    top: 0.746px;
    overflow: visible;
}

#n_121_eo {
    position: absolute;
    width: 21.516px;
    height: 38.361px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_148_ep {
    fill: rgba(50, 50, 50, 1);
}

.n_148_ep {
    overflow: visible;
    position: absolute;
    width: 21.516px;
    height: 38.361px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_124_eq {
    position: absolute;
    width: 22.509px;
    height: 39.903px;
    left: 172.631px;
    top: 0px;
    overflow: visible;
}

#n_123_er {
    position: absolute;
    width: 22.509px;
    height: 39.903px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_149_es {
    fill: rgba(50, 50, 50, 1);
}

.n_149_es {
    overflow: visible;
    position: absolute;
    width: 22.509px;
    height: 39.903px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_126_et {
    position: absolute;
    width: 22.509px;
    height: 39.903px;
    left: 199.513px;
    top: 0px;
    overflow: visible;
}

#n_125_eu {
    position: absolute;
    width: 22.509px;
    height: 39.903px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_150_ev {
    fill: rgba(50, 50, 50, 1);
}

.n_150_ev {
    overflow: visible;
    position: absolute;
    width: 22.509px;
    height: 39.903px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_129_ew {
    position: absolute;
    width: 38.015px;
    height: 38.859px;
    left: 71.208px;
    top: 0.249px;
    overflow: visible;
}

#n_128_ex {
    position: absolute;
    width: 38.015px;
    height: 38.859px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_151_ey {
    fill: rgba(50, 50, 50, 1);
}

.n_151_ey {
    overflow: visible;
    position: absolute;
    width: 38.015px;
    height: 38.859px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n__ {
    left: 420.574px;
    top: 1492.276px;
    position: absolute;
    overflow: visible;
    width: 518px;
    white-space: nowrap;
    line-height: 39px;
    margin-top: -5px;
    text-align: left;
    font-family: GenYoGothic-M;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(50, 50, 50, 1);
}

#n_73_ {
    left: 420.574px;
    top: 1594.05px;
    position: absolute;
    overflow: hidden;
    width: 898.318px;
    height: fit-content;
    line-height: 28px;
    margin-top: -6.5px;
    text-align: left;
    font-family: GenYoGothic-R;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(50, 50, 50, 1);
    letter-spacing: 1px;
}

#n_013198020002001Dow_Coring___ {
    left: 420.574px;
    top: 1705px;
    position: absolute;
    overflow: visible;
    width: 898.318px;
    height: fit-content;
    line-height: 28px;
    margin-top: -6.5px;
    text-align: left;
    font-family: GenYoGothic-R;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(50, 50, 50, 1);
    letter-spacing: 1px;
}

#n_2550 {
    fill: rgba(152, 189, 188, 1);
}

.n_2550 {
    overflow: visible;
    position: absolute;
    width: 179.803px;
    height: 563.601px;
    left: 0px;
    top: 587.132px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_434 {
    fill: rgba(0, 82, 94, 1);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_434 {
    position: absolute;
    overflow: visible;
    width: 245px;
    height: 563px;
    left: 1464px;
    top: 1359.207px;
}

#Text_e {
    left: 1507.113px;
    top: 1564.119px;
    position: absolute;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    line-height: 22px;
    margin-top: -4.5px;
    text-align: left;
    font-family: GenYoGothic-R;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(248, 248, 248, 1);
    letter-spacing: 0.5px;
}

#Text_fa {
    left: 1507.113px;
    top: 1484.896px;
    position: absolute;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    line-height: 22px;
    margin-top: -4.5px;
    text-align: left;
    font-family: GenYoGothic-R;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(248, 248, 248, 1);
    letter-spacing: 0.5px;
}

#n_31__86293 {
    left: 1507.113px;
    top: 1589.014px;
    position: absolute;
    overflow: visible;
    width: 148px;
    white-space: nowrap;
    line-height: 22px;
    margin-top: -4.5px;
    text-align: left;
    font-family: GenYoGothic-R;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(248, 248, 248, 1);
    letter-spacing: 0.5px;
}

#n_22673-3998 {
    left: 1507.113px;
    top: 1509.79px;
    position: absolute;
    overflow: visible;
    width: 92px;
    white-space: nowrap;
    line-height: 22px;
    margin-top: -4.5px;
    text-align: left;
    font-family: GenYoGothic-R;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(248, 248, 248, 1);
    letter-spacing: 0.5px;
}

#Join_Our_Company {
    left: 1507px;
    top: 1673.207px;
    position: absolute;
    overflow: visible;
    width: 138px;
    white-space: nowrap;
    line-height: 39px;
    margin-top: -2px;
    text-align: left;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgba(246, 201, 77, 1);
}

#n_435 {
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_435 {
    position: absolute;
    overflow: visible;
    width: 108.931px;
    height: 40.731px;
    left: 1507.113px;
    top: 1788.707px;
    cursor: pointer;
}

#Text_fb {
    left: 1531.58px;
    top: 1798.572px;
    position: absolute;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic-M;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

#Innovate_for_the_industry {
    left: 414px;
    top: 1352px;
    position: absolute;
    overflow: visible;
    width: 409px;
    white-space: nowrap;
    line-height: 77px;
    margin-top: -18px;
    text-align: center;
    font-family: Calibri;
    font-style: normal;
    font-weight: lighter;
    font-size: 41px;
    color: rgba(50, 50, 50, 1);
}

#Make_profits_for__the_environm {
    left: 400px;
    top: 1299px;
    position: absolute;
    overflow: visible;
    width: 635px;
    white-space: nowrap;
    line-height: 47px;
    margin-top: -1px;
    text-align: center;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: rgba(50, 50, 50, 1);
}

#n_57 {
    position: absolute;
    width: 619px;
    height: 460.593px;
    left: 1151px;
    top: 901.37px;
    overflow: visible;
}

#n____ a {
    color: rgba(167, 165, 165, 1) !important;
    text-decoration: none;
}

.Text_chv_Class {
    left: 1436px;
    top: 55.1px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic-M;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

.Text_chw_Class {
    left: 1060.823px;
    top: 55.1px;
    position: absolute;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic-M;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

.Text_chx_Class {
    left: 1332.563px;
    top: 55.1px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic-M;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

.Text_chy_Class {
    left: 1229.127px;
    top: 55.1px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic-M;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

.Text_chz_Class {
    left: 1126.566px;
    top: 55.1px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic-M;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

.header_tab span {
    font-family: GenYoGothic-M;
}

.header_tab:hover {
    cursor: pointer;
}

.header_tab:hover {
    color: rgba(246, 201, 77, 1);
}

.Path_2535_Class {
    opacity: 0.609;
    fill: rgba(255, 255, 255, 1);
}

.Path_2535 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 140.637px;
    height: 128.129px;
    left: 1104.308px;
    top: 91.36px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Text_ch_Class {
    left: 1120px;
    top: 135px;
    position: absolute;
    overflow: visible;
    width: 100px;
    height: 20px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(95, 106, 119, 1);
    font-family: GenYoGothic-M;
}

.Text_cia_Class {
    left: 1120px;
    top: 165px;
    position: absolute;
    overflow: visible;
    width: 100px;
    height: 20px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(95, 106, 119, 1);
    font-family: GenYoGothic-M;
}

.EN_Class {
    left: 1660px;
    top: 57.1px;
    position: absolute;
    overflow: visible;
    width: 20px;
    white-space: nowrap;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(248, 248, 248, 1);
    font-family: GenYoGothic-M;
}

.Text_ce_Class {
    left: 1695px;
    top: 57.1px;
    position: absolute;
    overflow: visible;
    width: 31px;
    white-space: nowrap;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(248, 248, 248, 1);
    font-family: GenYoGothic-M;
}

.Text_cfa_Class {
    left: 1740px;
    top: 57.1px;
    position: absolute;
    overflow: visible;
    width: 31px;
    white-space: nowrap;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(248, 248, 248, 1);
    font-family: GenYoGothic-M;
}