.mediaViewInfo {
    --web-view-name: Web 1920 – 5;
    --web-view-id: Web_1920__5;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Web_1920__5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#Web_1920__5 {
    position: absolute;
    width: 1920px;
    height: 2100px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    --web-view-name: Web 1920 – 5;
    --web-view-id: Web_1920__5;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#Group_251 {
    position: absolute;
    width: 443.177px;
    height: 151.606px;
    left: 1060.823px;
    top: 58.1px;
    overflow: visible;
}

#Text_chm a {
    outline: none;
    text-decoration: none;
    left: 375.177px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

#Text_chm:hover a {
    outline: none;
    text-decoration: none;
    color: rgba(246, 201, 77, 1);
}

#Text_chn a {
    outline: none;
    text-decoration: none;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

#Text_chn:hover a {
    outline: none;
    text-decoration: none;
    color: rgba(246, 201, 77, 1);
}

#Text_cho a {
    outline: none;
    text-decoration: none;
    left: 271.74px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

#Text_cho:hover a {
    outline: none;
    text-decoration: none;
    color: rgba(246, 201, 77, 1);
}

#Text_chp a {
    outline: none;
    text-decoration: none;
    left: 168.304px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

#Text_chp:hover a {
    outline: none;
    text-decoration: none;
    color: rgba(246, 201, 77, 1);
}

#Text_chq a {
    outline: none;
    text-decoration: none;
    left: 65.744px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
    cursor: pointer;
}

#Text_chq:hover a {
    outline: none;
    text-decoration: none;
    color: rgba(246, 201, 77, 1);
}

.Path_2535 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 205.057px;
    height: 136.684px;
    left: 29.594px;
    top: 32.921px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_2535 {
    opacity: 0.609;
    fill: rgba(255, 255, 255, 1);
}

#n__chs {
    left: 77.304px;
    top: 77.263px;
    position: absolute;
    overflow: visible;
    width: 85px;
    height: 17px;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

#n__cht {
    left: 77.304px;
    top: 104.437px;
    position: absolute;
    overflow: visible;
    width: 85px;
    height: 17px;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

#n__chs a {
    font-size: 15px;
    outline: none;
    text-decoration: none;
    color: rgba(95, 106, 119, 1);
}

#n__cht a {
    font-size: 15px;
    outline: none;
    text-decoration: none;
    color: rgba(95, 106, 119, 1);
}

#n_2483 {
    fill: rgba(250, 250, 250, 1);
}

.n_2483 {
    overflow: visible;
    position: absolute;
    width: 1920px;
    height: 1304.368px;
    left: 0px;
    top: 586px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_281 {
    fill: rgba(255, 255, 255, 1);
}

.n_281 {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 1950px;
    height: 102px;
    left: 0px;
    top: 515px;
}

#n_53 {
    position: absolute;
    width: 1920px;
    height: 515px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_316 {
    fill: rgba(255, 255, 255, 1);
}

.n_316 {
    position: absolute;
    overflow: visible;
    width: 322.074px;
    height: 542.502px;
    left: 622.432px;
    top: 1265.175px;
}

#n_284 {
    opacity: 0.428;
    fill: rgba(0, 82, 94, 1);
}

.n_284 {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 1950px;
    height: 134px;
    left: 0px;
    top: 0px;
}

#Text {
    left: 1175px;
    top: 55.1px;
    position: absolute;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

#Text_s {
    left: 1440.769px;
    top: 55.1px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

#Text_t {
    left: 1535.206px;
    top: 55.1px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

#EN {
    left: 1660px;
    top: 57.1px;
    position: absolute;
    overflow: visible;
    width: 20px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(248, 248, 248, 1);
}

#Text_v {
    left: 1695px;
    top: 57.1px;
    position: absolute;
    overflow: visible;
    width: 31px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(248, 248, 248, 1);
}

#Text_cfa {
    left: 1740px;
    top: 57.1px;
    position: absolute;
    overflow: visible;
    width: 31px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(248, 248, 248, 1);
}

#Text_w {
    left: 1340.048px;
    top: 55.1px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(248, 248, 248, 1);
}

#n_169 {
    position: absolute;
    width: 163.608px;
    height: 53.16px;
    left: 319px;
    top: 33.02px;
    overflow: visible;
}

#n_92 {
    position: absolute;
    width: 56.896px;
    height: 53.16px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_88 {
    position: absolute;
    width: 42.107px;
    height: 49.981px;
    left: 0px;
    top: 2.174px;
    overflow: visible;
}

#n_85 {
    position: absolute;
    width: 42.107px;
    height: 49.981px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_84 {
    position: absolute;
    width: 42.107px;
    height: 49.981px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_121 {
    fill: rgba(135, 176, 174, 1);
}

.n_121 {
    overflow: visible;
    position: absolute;
    width: 42.107px;
    height: 49.981px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_87 {
    position: absolute;
    width: 29.812px;
    height: 19.19px;
    left: 0px;
    top: 30.791px;
    overflow: visible;
}

#n_86 {
    position: absolute;
    width: 29.812px;
    height: 19.19px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_122 {
    fill: rgba(252, 189, 55, 1);
}

.n_122 {
    overflow: visible;
    position: absolute;
    width: 29.813px;
    height: 19.19px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_91 {
    position: absolute;
    width: 17.634px;
    height: 53.16px;
    left: 39.262px;
    top: 0px;
    overflow: visible;
}

#n_90 {
    position: absolute;
    width: 17.634px;
    height: 53.16px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_89 {
    position: absolute;
    width: 17.634px;
    height: 53.16px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_123 {
    fill: rgba(255, 255, 255, 1);
}

.n_123 {
    overflow: visible;
    position: absolute;
    width: 17.634px;
    height: 53.16px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_131 {
    position: absolute;
    width: 104.612px;
    height: 31.678px;
    left: 58.996px;
    top: 16.52px;
    overflow: visible;
}

#n_114 {
    position: absolute;
    width: 98.217px;
    height: 7.409px;
    left: 3.888px;
    top: 24.268px;
    overflow: visible;
}

#n_93 {
    position: absolute;
    width: 1.053px;
    height: 5.878px;
    left: 0px;
    top: 0.383px;
    overflow: visible;
}

#n_124 {
    fill: rgba(255, 255, 255, 1);
}

.n_124 {
    overflow: visible;
    position: absolute;
    width: 1.053px;
    height: 5.878px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_94 {
    position: absolute;
    width: 3.509px;
    height: 4.012px;
    left: 3.173px;
    top: 2.249px;
    overflow: visible;
}

#n_125 {
    fill: rgba(255, 255, 255, 1);
}

.n_125 {
    overflow: visible;
    position: absolute;
    width: 3.509px;
    height: 4.012px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_95 {
    position: absolute;
    width: 2.727px;
    height: 5.319px;
    left: 8.326px;
    top: 1.037px;
    overflow: visible;
}

#n_126 {
    fill: rgba(255, 255, 255, 1);
}

.n_126 {
    overflow: visible;
    position: absolute;
    width: 2.728px;
    height: 5.319px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_96 {
    position: absolute;
    width: 3.414px;
    height: 4.188px;
    left: 12.425px;
    top: 2.209px;
    overflow: visible;
}

#n_127 {
    fill: rgba(255, 255, 255, 1);
}

.n_127 {
    overflow: visible;
    position: absolute;
    width: 3.415px;
    height: 4.188px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_97 {
    position: absolute;
    width: 2.344px;
    height: 3.972px;
    left: 17.458px;
    top: 2.289px;
    overflow: visible;
}

#n_128 {
    fill: rgba(255, 255, 255, 1);
}

.n_128 {
    overflow: visible;
    position: absolute;
    width: 2.344px;
    height: 3.973px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_98 {
    position: absolute;
    width: 3.509px;
    height: 4.012px;
    left: 21.82px;
    top: 2.249px;
    overflow: visible;
}

#n_129 {
    fill: rgba(255, 255, 255, 1);
}

.n_129 {
    overflow: visible;
    position: absolute;
    width: 3.509px;
    height: 4.012px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_99 {
    position: absolute;
    width: 3.214px;
    height: 4.122px;
    left: 26.948px;
    top: 2.242px;
    overflow: visible;
}

#n_130 {
    fill: rgba(255, 255, 255, 1);
}

.n_130 {
    overflow: visible;
    position: absolute;
    width: 3.214px;
    height: 4.122px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_100 {
    position: absolute;
    width: 2.729px;
    height: 5.319px;
    left: 32.116px;
    top: 1.037px;
    overflow: visible;
}

#n_131_br {
    fill: rgba(255, 255, 255, 1);
}

.n_131_br {
    overflow: visible;
    position: absolute;
    width: 2.729px;
    height: 5.319px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_101 {
    position: absolute;
    width: 1.053px;
    height: 5.878px;
    left: 37.084px;
    top: 0.383px;
    overflow: visible;
}

#n_132 {
    fill: rgba(255, 255, 255, 1);
}

.n_132 {
    overflow: visible;
    position: absolute;
    width: 1.053px;
    height: 5.878px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_102 {
    position: absolute;
    width: 4.028px;
    height: 4.179px;
    left: 39.646px;
    top: 2.218px;
    overflow: visible;
}

#n_133 {
    fill: rgba(255, 255, 255, 1);
}

.n_133 {
    overflow: visible;
    position: absolute;
    width: 4.028px;
    height: 4.179px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_103 {
    position: absolute;
    width: 3.509px;
    height: 4.012px;
    left: 45.268px;
    top: 2.249px;
    overflow: visible;
}

#n_134 {
    fill: rgba(255, 255, 255, 1);
}

.n_134 {
    overflow: visible;
    position: absolute;
    width: 3.509px;
    height: 4.012px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_104 {
    position: absolute;
    width: 3.214px;
    height: 4.122px;
    left: 50.236px;
    top: 2.242px;
    overflow: visible;
}

#n_135 {
    fill: rgba(255, 255, 255, 1);
}

.n_135 {
    overflow: visible;
    position: absolute;
    width: 3.214px;
    height: 4.122px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_105 {
    position: absolute;
    width: 0.876px;
    height: 6.222px;
    left: 55.277px;
    top: 0.039px;
    overflow: visible;
}

#n_136 {
    fill: rgba(255, 255, 255, 1);
}

.n_136 {
    overflow: visible;
    position: absolute;
    width: 0.876px;
    height: 6.222px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_106 {
    position: absolute;
    width: 5.12px;
    height: 6.364px;
    left: 61.761px;
    top: 0px;
    overflow: visible;
}

#n_137 {
    fill: rgba(255, 255, 255, 1);
}

.n_137 {
    overflow: visible;
    position: absolute;
    width: 5.12px;
    height: 6.364px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_107 {
    position: absolute;
    width: 4.028px;
    height: 4.179px;
    left: 68.229px;
    top: 2.218px;
    overflow: visible;
}

#n_138 {
    fill: rgba(255, 255, 255, 1);
}

.n_138 {
    overflow: visible;
    position: absolute;
    width: 4.027px;
    height: 4.179px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_108 {
    position: absolute;
    width: 1.053px;
    height: 1.051px;
    left: 73.54px;
    top: 5.32px;
    overflow: visible;
}

#n_139 {
    fill: rgba(255, 255, 255, 1);
}

.n_139 {
    overflow: visible;
    position: absolute;
    width: 1.053px;
    height: 1.051px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_109 {
    position: absolute;
    width: 1.125px;
    height: 2.161px;
    left: 76.108px;
    top: 5.248px;
    overflow: visible;
}

#n_140 {
    fill: rgba(255, 255, 255, 1);
}

.n_140 {
    overflow: visible;
    position: absolute;
    width: 1.125px;
    height: 2.161px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_110 {
    position: absolute;
    width: 3.924px;
    height: 6.157px;
    left: 83.039px;
    top: 0.104px;
    overflow: visible;
}

#n_141 {
    fill: rgba(255, 255, 255, 1);
}

.n_141 {
    overflow: visible;
    position: absolute;
    width: 3.924px;
    height: 6.157px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_111 {
    position: absolute;
    width: 2.727px;
    height: 5.319px;
    left: 87.841px;
    top: 1.037px;
    overflow: visible;
}

#n_142 {
    fill: rgba(255, 255, 255, 1);
}

.n_142 {
    overflow: visible;
    position: absolute;
    width: 2.727px;
    height: 5.319px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_112 {
    position: absolute;
    width: 3.843px;
    height: 6.358px;
    left: 91.582px;
    top: 0.039px;
    overflow: visible;
}

#n_143 {
    fill: rgba(255, 255, 255, 1);
}

.n_143 {
    overflow: visible;
    position: absolute;
    width: 3.843px;
    height: 6.358px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_113 {
    position: absolute;
    width: 1.053px;
    height: 1.051px;
    left: 97.164px;
    top: 5.32px;
    overflow: visible;
}

#n_144 {
    fill: rgba(255, 255, 255, 1);
}

.n_144 {
    overflow: visible;
    position: absolute;
    width: 1.053px;
    height: 1.051px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_130_ci {
    position: absolute;
    width: 104.612px;
    height: 18.802px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_127_cj {
    position: absolute;
    width: 104.612px;
    height: 18.802px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_116 {
    position: absolute;
    width: 15.477px;
    height: 18.685px;
    left: 0px;
    top: 0.047px;
    overflow: visible;
}

#n_115 {
    position: absolute;
    width: 15.477px;
    height: 18.685px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_145 {
    fill: rgba(255, 255, 255, 1);
}

.n_145 {
    overflow: visible;
    position: absolute;
    width: 15.478px;
    height: 18.685px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_118 {
    position: absolute;
    width: 13.557px;
    height: 18.075px;
    left: 19.106px;
    top: 0.352px;
    overflow: visible;
}

#n_117 {
    position: absolute;
    width: 13.557px;
    height: 18.075px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_146 {
    fill: rgba(255, 255, 255, 1);
}

.n_146 {
    overflow: visible;
    position: absolute;
    width: 13.557px;
    height: 18.075px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_120 {
    position: absolute;
    width: 15.031px;
    height: 18.685px;
    left: 51.464px;
    top: 0.047px;
    overflow: visible;
}

#n_119 {
    position: absolute;
    width: 15.031px;
    height: 18.685px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_147 {
    fill: rgba(255, 255, 255, 1);
}

.n_147 {
    overflow: visible;
    position: absolute;
    width: 15.031px;
    height: 18.685px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_122_ct {
    position: absolute;
    width: 10.138px;
    height: 18.075px;
    left: 68.978px;
    top: 0.352px;
    overflow: visible;
}

#n_121_cu {
    position: absolute;
    width: 10.138px;
    height: 18.075px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_148 {
    fill: rgba(255, 255, 255, 1);
}

.n_148 {
    overflow: visible;
    position: absolute;
    width: 10.138px;
    height: 18.075px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_124_cw {
    position: absolute;
    width: 10.606px;
    height: 18.802px;
    left: 81.34px;
    top: 0px;
    overflow: visible;
}

#n_123_cx {
    position: absolute;
    width: 10.606px;
    height: 18.802px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_149 {
    fill: rgba(255, 255, 255, 1);
}

.n_149 {
    overflow: visible;
    position: absolute;
    width: 10.606px;
    height: 18.802px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_126_cz {
    position: absolute;
    width: 10.606px;
    height: 18.802px;
    left: 94.006px;
    top: 0px;
    overflow: visible;
}

#n_125_c {
    position: absolute;
    width: 10.606px;
    height: 18.802px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_150 {
    fill: rgba(255, 255, 255, 1);
}

.n_150 {
    overflow: visible;
    position: absolute;
    width: 10.606px;
    height: 18.802px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_129_c {
    position: absolute;
    width: 17.912px;
    height: 18.31px;
    left: 33.552px;
    top: 0.117px;
    overflow: visible;
}

#n_128_c {
    position: absolute;
    width: 17.912px;
    height: 18.31px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_151 {
    fill: rgba(255, 255, 255, 1);
}

.n_151 {
    overflow: visible;
    position: absolute;
    width: 17.912px;
    height: 18.31px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Text_c {
    left: 1240.744px;
    top: 55.1px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(246, 201, 77, 1);
}

#n_285 {
    opacity: 0.722;
    fill: rgba(248, 248, 248, 1);
}

.n_285 {
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
    width: 92.362px;
    height: 153.551px;
    position: absolute;
    overflow: visible;
    transform: matrix(1, 0, 0, 1, 1240.744, 73.4056) rotate(90deg);
    transform-origin: center;
}

#Text_da {
    left: 1265.127px;
    top: 118.983px;
    position: absolute;
    overflow: visible;
    width: 85px;
    height: 20px;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(167, 165, 165, 1);
}

#Text_db {
    left: 1265.127px;
    top: 146.157px;
    position: absolute;
    overflow: visible;
    width: 85px;
    height: 20px;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(167, 165, 165, 1);
}

#n_386 {
    fill: rgba(167, 165, 165, 1);
}

.n_386 {
    position: absolute;
    overflow: visible;
    width: 4.383px;
    height: 4.383px;
    left: 1240.744px;
    top: 125.995px;
}

#n_387 {
    fill: rgba(167, 165, 165, 1);
}

.n_387 {
    position: absolute;
    overflow: visible;
    width: 4.383px;
    height: 3.506px;
    left: 1240.744px;
    top: 153.169px;
}

#n__ {
    left: 265px;
    top: 545px;
    position: absolute;
    overflow: visible;
    width: 219px;
    height: 20px;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(167, 165, 165, 1);
}

#n_310 {
    fill: rgba(255, 255, 255, 1);
}

.n_310 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 1059.382px;
    height: 462.244px;
    left: 265px;
    top: 761.922px;
}

#n_320 {
    fill: rgba(255, 255, 255, 1);
}

.n_320 {
    position: absolute;
    overflow: visible;
    width: 311.75px;
    height: 1046.295px;
    left: 1338.07px;
    top: 761.382px;
}

#n_322 {
    position: absolute;
    width: 315.556px;
    height: 676.87px;
    left: 1339.444px;
    top: 757px;
    overflow: visible;
}

#Text_df {
    left: 302.737px;
    top: 986.373px;
    position: absolute;
    overflow: visible;
    width: 145px;
    white-space: nowrap;
    line-height: 32px;
    margin-top: -4px;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(50, 50, 50, 1);
}

#n___ {
    left: 1364.663px;
    top: 1493.151px;
    position: absolute;
    overflow: visible;
    width: 239px;
    white-space: nowrap;
    line-height: 33px;
    margin-top: -4px;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(50, 50, 50, 1);
}

#Text_dh {
    left: 716.52px;
    top: 1160.944px;
    position: absolute;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0, 82, 94, 1);
}

#Text_di {
    left: 1583.153px;
    top: 1766.578px;
    position: absolute;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(167, 165, 165, 1);
}

#Text_dj {
    left: 302.737px;
    top: 1040.975px;
    position: absolute;
    overflow: visible;
    width: 386.992px;
    height: 94.97943115234375px;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: GenYoGothic TW;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(167, 165, 165, 1);
    letter-spacing: 0.5px;
}

#n_73 {
    left: 1364.663px;
    top: 1599.554px;
    position: absolute;
    overflow: hidden;
    width: 243.664px;
    height: 120.97943115234375px;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: GenYoGothic TW;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(167, 165, 165, 1);
    letter-spacing: 0.5px;
}

#n_1_st_Sep_2020 {
    left: 302.737px;
    top: 965.667px;
    position: absolute;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: rgba(0, 82, 94, 1);
}

#n_1_st_Sep_2020_dm {
    left: 1364.663px;
    top: 1472.445px;
    position: absolute;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: rgba(0, 82, 94, 1);
}

#n_186 {
    position: absolute;
    width: 575.318px;
    height: 35.922px;
    left: 1079.681px;
    top: 534px;
    overflow: visible;
}

#n_2505 {
    fill: rgba(255, 255, 255, 1);
}

.n_2505 {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 581.318px;
    height: 41.922px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_182 {
    position: absolute;
    width: 57.887px;
    height: 10.917px;
    left: 21.362px;
    top: 12.778px;
    overflow: visible;
}

#n_2494 {
    fill: rgba(140, 140, 140, 1);
}

.n_2494 {
    overflow: visible;
    position: absolute;
    width: 7.634px;
    height: 10.497px;
    left: 0px;
    top: 0.421px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_2495 {
    fill: rgba(140, 140, 140, 1);
}

.n_2495 {
    overflow: visible;
    position: absolute;
    width: 6.68px;
    height: 7.873px;
    left: 9.094px;
    top: 3.044px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_2496 {
    fill: rgba(140, 140, 140, 1);
}

.n_2496 {
    overflow: visible;
    position: absolute;
    width: 6.518px;
    height: 7.873px;
    left: 17.213px;
    top: 3.044px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_2497 {
    fill: rgba(140, 140, 140, 1);
}

.n_2497 {
    overflow: visible;
    position: absolute;
    width: 3.985px;
    height: 7.732px;
    left: 25.585px;
    top: 3.044px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_2498 {
    fill: rgba(140, 140, 140, 1);
}

.n_2498 {
    overflow: visible;
    position: absolute;
    width: 6.554px;
    height: 7.873px;
    left: 30.546px;
    top: 3.044px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_2499 {
    fill: rgba(140, 140, 140, 1);
}

.n_2499 {
    overflow: visible;
    position: absolute;
    width: 6.279px;
    height: 10.776px;
    left: 38.722px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_2500 {
    fill: rgba(140, 140, 140, 1);
}

.n_2500 {
    overflow: visible;
    position: absolute;
    width: 1.986px;
    height: 1.874px;
    left: 47.156px;
    top: 8.98px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_2501 {
    fill: rgba(140, 140, 140, 1);
}

.n_2501 {
    overflow: visible;
    position: absolute;
    width: 1.986px;
    height: 1.874px;
    left: 51.528px;
    top: 8.98px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_2502 {
    fill: rgba(140, 140, 140, 1);
}

.n_2502 {
    overflow: visible;
    position: absolute;
    width: 1.986px;
    height: 1.874px;
    left: 55.901px;
    top: 8.98px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_2503 {
    fill: rgba(64, 64, 64, 1);
}

.n_2503 {
    overflow: visible;
    position: absolute;
    width: 16.365px;
    height: 16.366px;
    left: 544.849px;
    top: 8.878px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    cursor: pointer;
}

#n_2504 {
    fill: rgba(191, 191, 191, 1);
}

.n_2504 {
    overflow: visible;
    position: absolute;
    width: 2.234px;
    height: 20.416px;
    left: 536.684px;
    top: 7.222px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Text_d {
    left: 650.5px;
    top: 659.736px;
    position: absolute;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(167, 165, 165, 1);
    cursor: pointer;
}

#Text_ea {
    left: 841.5px;
    top: 659.736px;
    position: absolute;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(167, 165, 165, 1);
    cursor: pointer;
}

#Text_eb {
    left: 1209.5px;
    top: 659.736px;
    position: absolute;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(167, 165, 165, 1);
    cursor: pointer;
}

#Text_ec {
    left: 1018.5px;
    top: 659.736px;
    position: absolute;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(167, 165, 165, 1);
    cursor: pointer;
}

#Text_d:hover {
    color: rgba(50, 50, 50, 1);
}

#Text_ea:hover {
    color: rgba(50, 50, 50, 1);
}

#Text_eb:hover {
    color: rgba(50, 50, 50, 1);
}

#Text_ec:hover {
    color: rgba(50, 50, 50, 1);
}

#n_311 {
    fill: rgba(255, 255, 255, 1);
}

.n_311 {
    position: absolute;
    overflow: visible;
    width: 322.075px;
    height: 542.502px;
    left: 266.765px;
    top: 1265.175px;
}

#n_317 {
    fill: rgba(255, 255, 255, 1);
}

.n_317 {
    position: absolute;
    overflow: visible;
    width: 322.075px;
    height: 542.502px;
    left: 982.512px;
    top: 1265.175px;
}

#n_330 {
    position: absolute;
    width: 323.84px;
    height: 274.558px;
    left: 265px;
    top: 1268px;
    overflow: visible;
}

#n_332 {
    position: absolute;
    width: 323.823px;
    height: 309.601px;
    left: 981.559px;
    top: 1263.729px;
    overflow: visible;
}

#n_335 {
    position: absolute;
    width: 492px;
    height: 445px;
    left: 815px;
    top: 762px;
    overflow: visible;
}

#n_GORE-TEX {
    left: 642.036px;
    top: 1309.215px;
    position: absolute;
    overflow: visible;
    width: 159px;
    white-space: nowrap;
    line-height: 32px;
    margin-top: -4px;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(50, 50, 50, 1);
}

#n_ {
    left: 996.139px;
    top: 1616.987px;
    position: absolute;
    overflow: visible;
    width: 179px;
    white-space: nowrap;
    line-height: 32px;
    margin-top: -4px;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(50, 50, 50, 1);
}

#n__ec {
    left: 292.505px;
    top: 1616.987px;
    position: absolute;
    overflow: visible;
    width: 248px;
    white-space: nowrap;
    line-height: 32px;
    margin-top: -4px;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(50, 50, 50, 1);
}

#Text_ed {
    left: 642.036px;
    top: 1392.416px;
    position: absolute;
    overflow: visible;
    width: 246.874px;
    height: 94.97943115234375px;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: GenYoGothic TW;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(167, 165, 165, 1);
    letter-spacing: 0.5px;
}

#Text_ee {
    left: 996.139px;
    top: 1665.561px;
    position: absolute;
    overflow: visible;
    width: 264.62px;
    height: 94.97943115234375px;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: GenYoGothic TW;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(167, 165, 165, 1);
    letter-spacing: 0.5px;
}

#n___ef {
    left: 292.505px;
    top: 1665.561px;
    position: absolute;
    overflow: hidden;
    width: 264.62px;
    height: 94.97943115234375px;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: GenYoGothic TW;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(167, 165, 165, 1);
    letter-spacing: 0.5px;
}

#n_1_st_Sep_2020_eg {
    left: 642.036px;
    top: 1288.509px;
    position: absolute;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: rgba(0, 82, 94, 1);
}

#n_1_st_Sep_2020_eh {
    left: 996.139px;
    top: 1596.281px;
    position: absolute;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: rgba(0, 82, 94, 1);
}

#n_1_st_Sep_2020_ei {
    left: 292.505px;
    top: 1596.281px;
    position: absolute;
    overflow: visible;
    width: 68px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: rgba(0, 82, 94, 1);
}

#Text_ej {
    left: 1217.2px;
    top: 1766.578px;
    position: absolute;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(167, 165, 165, 1);
}

#Text_ek {
    left: 507.777px;
    top: 1766.578px;
    position: absolute;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(167, 165, 165, 1);
}

#Text_el {
    left: 871.5px;
    top: 1471.445px;
    position: absolute;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    text-align: left;
    font-family: GenYoGothic JP;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(167, 165, 165, 1);
}

#n_328 {
    position: absolute;
    width: 323.869px;
    height: 298.749px;
    left: 620.637px;
    top: 1506.888px;
    overflow: visible;
}

#NEWS {
    left: 292.627px;
    top: 848.674px;
    position: absolute;
    overflow: visible;
    width: 198px;
    white-space: nowrap;
    text-align: left;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    color: rgba(50, 50, 50, 1);
}

#n_38 {
    opacity: 0.386;
    fill: transparent;
    stroke: rgba(5, 5, 5, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_38 {
    overflow: visible;
    position: absolute;
    width: 1920.5px;
    height: 1px;
    left: 9px;
    top: 2017.76px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Gracess_international_Co_Ltd__ {
    left: 785px;
    top: 2049.449px;
    position: absolute;
    overflow: visible;
    width: 362px;
    white-space: nowrap;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(95, 106, 119, 1);
}

#n_214 {
    position: absolute;
    width: 229.011px;
    height: 75.379px;
    left: 857px;
    top: 1927.688px;
    overflow: visible;
}

#n_202 {
    position: absolute;
    width: 80.675px;
    height: 75.379px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_199 {
    position: absolute;
    width: 59.705px;
    height: 70.87px;
    left: 0px;
    top: 3.083px;
    overflow: visible;
}

#n_197 {
    position: absolute;
    width: 59.705px;
    height: 70.87px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_2506 {
    fill: rgba(135, 176, 174, 1);
}

.n_2506 {
    overflow: visible;
    position: absolute;
    width: 59.705px;
    height: 70.87px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_198 {
    position: absolute;
    width: 42.272px;
    height: 27.21px;
    left: 0px;
    top: 43.659px;
    overflow: visible;
}

#n_2507 {
    fill: rgba(252, 189, 55, 1);
}

.n_2507 {
    overflow: visible;
    position: absolute;
    width: 42.272px;
    height: 27.21px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_201 {
    position: absolute;
    width: 25.004px;
    height: 75.379px;
    left: 55.671px;
    top: 0px;
    overflow: visible;
}

#n_200 {
    position: absolute;
    width: 25.004px;
    height: 75.379px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_2508 {
    fill: rgba(75, 87, 100, 1);
}

.n_2508 {
    overflow: visible;
    position: absolute;
    width: 25.004px;
    height: 75.378px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_212 {
    position: absolute;
    width: 148.336px;
    height: 26.66px;
    left: 80.675px;
    top: 31.063px;
    overflow: visible;
}

#n_211 {
    position: absolute;
    width: 148.336px;
    height: 26.66px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_209 {
    position: absolute;
    width: 148.336px;
    height: 26.66px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_203 {
    position: absolute;
    width: 21.946px;
    height: 26.493px;
    left: 0px;
    top: 0.067px;
    overflow: visible;
}

#n_2509 {
    fill: rgba(59, 70, 78, 1);
}

.n_2509 {
    overflow: visible;
    position: absolute;
    width: 21.946px;
    height: 26.493px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_204 {
    position: absolute;
    width: 19.222px;
    height: 25.63px;
    left: 27.092px;
    top: 0.498px;
    overflow: visible;
}

#n_2510 {
    fill: rgba(59, 70, 78, 1);
}

.n_2510 {
    overflow: visible;
    position: absolute;
    width: 19.222px;
    height: 25.63px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_205 {
    position: absolute;
    width: 21.315px;
    height: 26.493px;
    left: 72.973px;
    top: 0.067px;
    overflow: visible;
}

#n_2511 {
    fill: rgba(59, 70, 78, 1);
}

.n_2511 {
    overflow: visible;
    position: absolute;
    width: 21.315px;
    height: 26.493px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_206 {
    position: absolute;
    width: 14.375px;
    height: 25.63px;
    left: 97.807px;
    top: 0.498px;
    overflow: visible;
}

#n_2512 {
    fill: rgba(59, 70, 78, 1);
}

.n_2512 {
    overflow: visible;
    position: absolute;
    width: 14.375px;
    height: 25.63px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_207 {
    position: absolute;
    width: 15.039px;
    height: 26.66px;
    left: 115.336px;
    top: 0px;
    overflow: visible;
}

#n_2513 {
    fill: rgba(59, 70, 78, 1);
}

.n_2513 {
    overflow: visible;
    position: absolute;
    width: 15.039px;
    height: 26.66px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_208 {
    position: absolute;
    width: 15.04px;
    height: 26.66px;
    left: 133.296px;
    top: 0px;
    overflow: visible;
}

#n_2514 {
    fill: rgba(59, 70, 78, 1);
}

.n_2514 {
    overflow: visible;
    position: absolute;
    width: 15.04px;
    height: 26.66px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#n_210 {
    position: absolute;
    width: 25.398px;
    height: 25.962px;
    left: 47.575px;
    top: 0.166px;
    overflow: visible;
}

#n_2515 {
    fill: rgba(59, 70, 78, 1);
}

.n_2515 {
    overflow: visible;
    position: absolute;
    width: 25.398px;
    height: 25.962px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}